.shapeBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.shapeBox > div {
  font-weight: 500;
  text-transform: capitalize;
}

.shapeBox > div:hover {
  cursor: pointer;
  color: rgb(51, 67, 129);
}
